<div class="start">
    <div class="first-part">
        <h2>Cura</h2>
    </div>
    <div class="second-part">
        <div class="item">
            <img src="../../assets/Vector.png" class="dash-icon" />
            <span class="span">Dashboard</span>
        </div>
        <div class="item feed">
            <div class="but-side">
                <img src="../../assets/fed.png" class="dash-icon if" />
                <span class="span fee">Feedback</span>
                <img src="../../assets/drop.svg" class="dash-icon drop" />
            </div>
        </div>
        <div class="item">
            <img src="../../assets/Vector.svg" class="dash-icon" />
            <span class="span">Configurations</span>
        </div>
        <div class="item">
            <img src="../../assets/ector.svg" class="dash-icon" />
            <span class="span">Contact</span>
        </div>
        <div class="item">
            <img src="../../assets/Vector (2).svg" class="dash-icon" />
            <span class="span">Reports</span>
        </div>
        <div class="item">
            <img src="../../assets/Vector (3).svg" class="dash-icon" />
            <span class="span">Account Management</span>
        </div>
    </div>
    <div class="third-part">
        <div class="item-out">
            <img src="../../assets/logout.svg" class="dash-icon" />
            <span class="span-out">Log Out</span>
        </div>
    </div>
</div>