<div class="start">
    <div class="set">
        <ul>
            <div class="adjust"> <li>12:43:01 pm</li></div>
            <div class="adjust"><li>10/09/22</li></div>
            <div class="adjust"><li>07038485738</li></div>
            <div class="adjust"> <li>Pharmacy</li></div>
            <div class="adjust"><li>3.2</li></div>
            <div class="adjust"><li>7</li></div>
            <div class="adjust"><li>Resolved</li></div>
            <div class="adjust"> <span class="purple">View</span></div>
          
        </ul>
    </div>
    <div class="set">
        <ul>
            <div class="adjust"> <li>1:43:01 pm</li></div>
            <div class="adjust"><li>15/09/22</li></div>
            <div class="adjust"><li>07038485738</li></div>
            <div class="adjust"> <li>Laboratory</li></div>
            <div class="adjust"><li>1.0</li></div>
            <div class="adjust"><li>3</li></div>
            <div class="adjust"><li>In-Progress</li></div>
            <div class="adjust"> <span class="purple">View</span></div>
          
        </ul>
    </div>
    <div class="set">
        <ul>
            <div class="adjust"> <li>12:43:01 pm</li></div>
            <div class="adjust"><li>10/09/22</li></div>
            <div class="adjust"><li>07038485738</li></div>
            <div class="adjust"> <li>Pharmacy</li></div>
            <div class="adjust"><li>3.2</li></div>
            <div class="adjust"><li>7</li></div>
            <div class="adjust"><li>Resolved</li></div>
            <div class="adjust"> <span class="purple">View</span></div>
          
        </ul>
    </div>
    <div class="set">
        <ul>
            <div class="adjust"> <li>12:43:01 pm</li></div>
            <div class="adjust"><li>10/09/22</li></div>
            <div class="adjust"><li>07038485738</li></div>
            <div class="adjust"> <li>Pharmacy</li></div>
            <div class="adjust"><li>3.2</li></div>
            <div class="adjust"><li>7</li></div>
            <div class="adjust"><li>Resolved</li></div>
            <div class="adjust"> <span class="purple">View</span></div>
          
        </ul>
    </div>
   
   <!-- <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
-->
</div>