.start {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.05));
}
.set {
    margin-top: 10px;
    background: #fff;
    gap: 10px;
    padding: 30px;
    width: 98%;
    font-weight: 600;
    font-size: 16px;
}
.start ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.adjust {
    position: relative;
}
li{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 15px;
    width: 8%;
    color: rgba(60, 60, 60, 1);
    list-style: none;
}

.purple{
    background: white;
    padding: 7px 20px;
    border: 3px solid #8A6CC8;
    border-radius: 72px;
}
.purple:hover{
    color: white;
    background: #8A6CC8;
}