<div class="start">
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
    <ul>
        <li>12:43:01 pm</li>
        <li>10/09/22</li>
        <li>07038485738</li>
        <li>Pharmacy</li>
        <li>3.2</li>
        <li>7</li>
        <li>Resolved</li>
        <span class="purple">View</span>
    </ul>
   
</div>