
<div class="main">
    <div class="title">
        <h2>Compliants</h2>
    </div>


    <div class="search">
        <input type="text" class="search-box" placeholder="Enter phone number"/>
        <img src="../../assets/search.svg" class="search-icon"/>
        <div class="itemz">
            <img src="../../assets/export.svg" class="dash-iconz" />
            <span class="spanz">Export Complaints CSV</span>
        </div>
    </div>


    <div class="options">
        <div class="item">
            <img src="../../assets/calendar.svg" class="dash-icon" />
            <span class="span">Start Date: Sept 1</span>
        </div>
        <div class="item">
            <img src="../../assets/calendar.svg" class="dash-icon" />
            <span class="span">Start Date: Sept 30</span>
        </div>
        <div class="itemx">
            <span class="spanx">Status: In-Progress</span>
        </div>
        <div class="itemf">
            <img src="../../assets/filter.svg" class="dash-iconf" />
            <span class="spanf">Filter</span>
        </div>
        <div class="item">
            <img src="../../assets/x.svg" class="dash-icon" />
            <span class="span">Clear Filter</span>
        </div>
        <div class="itemp">
            <img src="../../assets/arrow1.svg" class="dash-iconp" />
            <span class="s">1</span>
            <span class="s">of</span>
            <span class="s">10</span>
            <img src="../../assets/arr3.svg" class="dash-iconp"/>
        </div>
    </div>
    <app-title-sec></app-title-sec>
    <app-list-sec></app-list-sec>
</div>