<div class="tithe">
    <ul class="lister">
        <div class="shift"><li class="list">Time</li></div>
        <div class="shift"><li class="list">Date</li></div>
        <div class="shift"><li class="list">Phone </li></div>
        <div class="shift"><li class="list">Unit</li></div>
        <div class="shift"><li class="list">Rating</li></div>
        <div class="shift"><li class="list">NPS</li></div>
        <div class="shift"><li class="list">Status</li></div>
        <div class="shift hide"><li class="list">Status</li></div>
    </ul>
    
</div>
